@model GrillOut.Models.Events

@{
    ViewData["Title"] = "MarkDelivered";
}

<h2>Mark Delivered</h2>

<h4>Events</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="MarkDelivered">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EventsId" /><input type="hidden" asp-for="CustomerId" /><input type="hidden" asp-for="EmployeeId" />
            <input type="hidden" asp-for="StreetAddress" /><input type="hidden" asp-for="CityStateZip" /><input type="hidden" asp-for="EventDate" />
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsDelivered" /> @Html.DisplayNameFor(model => model.IsDelivered)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="EmployeesEvents">Back to claimed events</a>
</div>

